.city_card__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 15px;
  padding: 30px;

  background-color: white;

  width: 48%;

  -webkit-box-shadow: 3px 3px 18px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 3px 3px 18px 5px rgba(0, 0, 0, 0.15);
}

.city_card__name {
  font-weight: 500;
  font-size: 50px;
}

.city_card__date {
  font-weight: 400;
}

.city_card__temperature {
  font-size: 80px;
}


.city_card__weather {
  font-weight: 300;
}


.city_card__img{
  max-width: 250px;
}