.city_card__container {
  display: flex;

  align-items: flex-start;
  justify-content: space-between;

  margin-top: 30px;
  padding: 30px;

  background-color: white;
  border-radius: 30px;

  width: 100%;
}

.city_card__additional_info___container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

@media (max-width: 1024px) {
  .city_card__container {
    flex-direction: column;
    padding: 15px;
    
  }
  .city_card__additional_info___container {
    width: 100%
  }
}
