.not_found__container {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  align-items: center;
  margin: auto;
}

.not_found__title{
  font-size: 80px;
}

.not_found__subtitle{
  font-size: 30px;
  font-weight: 400;
}